# Ignorar controle de versão
.git
.gitignore

# Ignorar segredos e variáveis de ambiente locais
.env
.env.*

# Ignorar configurações do Docker Compose e Dockerfiles
docker-compose.yml
Dockerfile
Dockerfile.db
.dockerignore

